# Contoh konfigurasi environment
FEEDER_URL=http://feeder.kemdikbud.go.id/ws/live2.php
FEEDER_USER=your_feeder_username
FEEDER_PASS=your_feeder_password

SISTER_BASE=https://sister.kemdikbud.go.id/ws.php/1.0
SISTER_USER=your_sister_username
SISTER_PASS=your_sister_password
SISTER_ID_PENGGUNA=your_sister_id_pengguna

SCOPUS_API_KEY=your_elsevier_api_key
